<section id="choose" ng-controller="DemoChooseCtrl">
    <div class="page-header">
        <h1>Choose</h1>
    </div>

    <div class="row">
        <div class="col-md-7">
            <div class="form-group">
                <p>Single choice</p>
                <twg-choose choices="allCountries" twg-model="selectedCountry" multiple="false"
                            choice-displayname="name"></twg-choose>
                <button class="btn btn-sm btn-success" ng-click="setSelectedCountry(2);">Manually set selected item to
                    id 2.
                </button>
            </div>
        </div>
        <div class="col-md-5">
            <div class="alert alert-info">
                Selected value is an &quot;idified&quot; object.<br/> {{selectedCountry}}
            </div>
        </div>
    </div>

    <!--
    <div class="row">
        <div class="col-md-7">
            <div class="form-group">
                <p>Single choice (native select2)</p>
                <select ng-model="nSelectedCountry" ui-select2>
                    <option value="{{choice.id}}" ng-repeat="choice in allCountries">{{choice.name}}</option>
                </select>

            </div>
        </div>
        <div class="col-md-5">
            <div class="alert alert-info">
                Selected value is <br/> {{nSelectedCountry}}
            </div>
        </div>
    </div>            -->


    <div class="row">
        <div class="col-md-7">
            <div class="form-group">
                <p>Multiple choice</p>
                <twg-choose choices="allCountries"  twg-model="selectedCountries" multiple="true"
                            choice-displayname="name"></twg-choose>
                <button class="btn btn-sm btn-success" ng-click="setSelectedCountries([1,3]);">Manually set selected
                    items to
                    ids 1 and 3
                </button>

            </div>
        </div>
        <div class="col-md-5">
            <div class="alert alert-info">
                Selected value is an array of &quot;idified&quot; objects.<br/> {{selectedCountries }}
            </div>
        </div>
    </div>
    <!--

    <div class="row">
        <div class="col-md-7">
            <div class="form-group">
                <p>Multiple choice (native select2)</p>
                <select multiple="multiple" ng-model="nSelectedCountries" ui-select2>
                    <option value="{{choice.id}}" ng-repeat="choice in allCountries">{{choice.name}}</option>
                </select>

            </div>
        </div>
        <div class="col-md-5">
            <div class="alert alert-info">
                Selected value is an array of ids.<br/> {{nSelectedCountries }}
            </div>
        </div>
    </div>
                 -->

</section>