<div class="progress">
  <div class="progress-bar" role="progressbar"  style="width: 33.3333%;">
  </div>
</div>

<div class="row">
  <p>Twigs Flow handles navigation between steps and provides access to your data throughout the wizard.</p>

  <p>This is the 1st step of the flow.</p>

  <form class="form-horizontal">
    <div class="form-group">
      <label for="firstname" class="control-label col-sm-2 ">Firstname</label>

      <div class="col-sm-10">
        <input id="firstname" class="form-control" ng-model="flow.flowmodel.firstName"/>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <button ng-click="flow.onButtonNext()" class="btn btn-primary btn-sm">Next</button>
</div>
