<section id="sortable" ng-controller="DemoFlowController as flow">
  <a name="/modules/flow"></a>

  <div class="page-header">
    <h1>Flow
      <small><a class="label label-success"
                href="http://hatchteam.github.io/twigs/docs/#/api/twigs.flow.provider:FlowProvider">Docu</a></small>
    </h1>
  </div>

  <div class="row">


    <div class="col-md-6">
      <a href="#flow/">Example</a>
    </div>
    <div class="col-md-6">
      <p>In more complex applications we'd like to chain different views into business processes, i.e. flows.</p>

      <p>These can be wizard-like processes with many steps or simple ones that guide the user through only a few
        views.</p>

      <p> Flow provides you with a simple mechanism to define which angular route definitions you want to chain to a
        process. It allows you to define allowed transitions between steps and gives you easy access to the shared model
        across all steps.</p>


    </div>
  </div>

</section>
