<article class="markdown-body entry-content" itemprop="mainContentOfPage">

  <div class="well">
    <h4>"And Calimero was a hatchling no more - old enough to build his own nest..."</h4>
  </div>

  <p>Twigs is a library of useful Services and Directives for AngularJS applications. It evolved out of the <a
    href="https://bitbucket.org/hatchteam/hatch">Hatch</a> project.</p>

  <h3>
    <a id="user-content-status" class="anchor" href="#status" aria-hidden="true"><span
      class="octicon octicon-link"></span></a>Status</h3>

  <table>
    <thead>
    <tr>
      <th>Branch</th>
      <th align="center">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>master</td>
      <td align="center"><a href="https://travis-ci.org/hatchteam/twigs"><img
        src="https://camo.githubusercontent.com/228821a598ba7d8a324a9a5d34d570a87c8323d7/68747470733a2f2f7472617669732d63692e6f72672f68617463687465616d2f74776967732e706e673f6272616e63683d6d6173746572"
        alt="Build Status" data-canonical-src="https://travis-ci.org/hatchteam/twigs.png?branch=master"
        style="max-width:100%;"></a></td>
    </tr>
    <tr>
      <td>develop</td>
      <td align="center"><a href="https://travis-ci.org/hatchteam/twigs"><img
        src="https://camo.githubusercontent.com/ed343f791d677648bcec370203957c102c954566/68747470733a2f2f7472617669732d63692e6f72672f68617463687465616d2f74776967732e706e673f6272616e63683d646576656c6f70"
        alt="Build Status" data-canonical-src="https://travis-ci.org/hatchteam/twigs.png?branch=develop"
        style="max-width:100%;"></a></td>
    </tr>
    </tbody>
  </table>


  <h1>
    <a id="user-content-docu" class="anchor" href="#docu" aria-hidden="true"><span class="octicon octicon-link"></span></a>Docu
  </h1>

  <ul class="task-list">
    <li>API reference <a href="http://hatchteam.github.io/twigs/docs/#/api/">http://hatchteam.github.io/twigs/docs/#/api/</a>
    </li>
  </ul>


</article>
