<section id="hotkeys" ng-controller="DemoHotkeysCtrl as hotkeys" twg-global-hotkeys>
  <a name="/modules/hotkeys"></a>

  <div class="page-header">
    <h1>GlobalHotkeys
      <small><a class="label label-success"
                href="http://hatchteam.github.io/twigs/docs/#/api/twigs.globalHotkeys.service:GlobalHotkeysService">Docu</a>
      </small>
    </h1>
  </div>


  <div class="row">

    <div class="col-md-6">

      <p>
        Try hotkeys "a" and "arrow right"
      </p>

      <input type="text" placeholder="Will not trigger in input field..." class="form-control"/>
      <textarea class="form-control">Will not trigger in textarea...</textarea>
      <select class="form-control">
        <option>Will not trigger on select...</option>
        <option>Monday</option>
        <option>Tuesday</option>
      </select>
      <button class="btn btn-sm">Will not trigger on button...</button>
      <a href="#">Will not trigger on link (focus this with tabulator)...</a>


      <div class="alert alert-info">
        <strong>Callback:</strong> {{hotkeys.message}}
      </div>
    </div>

    <div class="col-md-6">

      <p>GlobalHotkeys allows you to assign actions to specific keyboard key combinations. In order for it to work, add
        the 'twg-global-hotkeys' directive to the top-element of your angular application (e.g. the html-element in a
        single page application).</p>

    </div>

  </div>


</section>
