
.header-placeholder {
    height: 50px;
}

.hotkey-area {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.select2-container {
    width: 100%;
}


.column-sort-asc, .column-sort-desc, .column-sort-none {
    cursor: pointer;
    padding-right: 30px !important;
    background-repeat: no-repeat;
    background-position: center right;
}

.column-sort-none {
    background-image: none;
}

.column-sort-desc {
    background-image: url(../img/sort_arrow_desc.gif);
}

.column-sort-asc {
    background-image: url(../img/sort_arrow_asc.gif);
}