<div>
    <select ng-if="renderDropdown && !multiple" name="{{name}}" ng-model="internalBinding"
            ui-select2="select2Options"
            ng-change="onChange(internalBinding)">
        <option value="{{choice.id}}" ng-repeat="choice in choices">{{getLabel(choice)}}</option>
    </select>
    <select ng-if="renderDropdown && multiple" name="{{name}}" multiple="multiple" ng-model="internalBinding"
            ui-select2="select2Options"
            ng-change="onChange(internalBinding)">
        <option value="{{choice.id}}" ng-repeat="choice in choices">{{getLabel(choice)}}</option>
    </select>

    {{internalBinding}}

</div>
